/*========================================== MASTER STYLESHEET ===================================================================

	Project     :	BLACK TEMPLATES
	Version     :	1.0
	Last Change : 	03/08/2017
	Primary Use :   BLACK TEMPLATES

=================================================================================================================================*/
/*========================================== LAYOUT ===================================================================

		1.GLOBAL STYLES
		2.COMMON STYLES
		3.NAVIGATION
		4.BUTTON
		5.HEADER
		6.SERVICES
		7.THREE COLUMN
		8.TWO COLUMN
		9.COUNTER
		10.TESTIMONIAL
		11.NEWS
		12.PRICE TABLE
		13.CONTACT
		14.SUBSCRIBE
		15.TEAM
		16.GALLERY
		17.FOOTER
		18.MEDIA QUERIES

=================================================================================================================================*/
/*========================================== COLOR CODES =========================================================================

	Background         :#1d1d1d [Black]
	Theme Color        :#1d1d1d and #212121 [Black]
	Main Heading Color :#ffffff [white]
	Content Color      :#ffffff [white]

======================================= ==========================================================================================*/
/*========================================== TYPOGRAPHY =========================================================================

	Heading:font-family: 'Montserrat', serif;
	Body :font-family: 'Open Sans', sans-serif , Arial , Vedana  , Trebuchet MS;

=================================================================================================================================*/
/*========================================== 1.GLOBAL CSS START ===========================================*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    background: #1d1d1d;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif, Arial, Verdana, 'Trebuchet MS';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-transform: capitalize;
}

h2 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 45px;
    text-transform: capitalize;
}

h3 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 38px;
    text-transform: capitalize;
}

h4 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: capitalize;
}

h5 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
    text-transform: capitalize;
}

h6 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: capitalize;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*========================================== 1.GLOBAL CSS END ===========================================*/
/*========================================== 2.COMMON CSS START ===========================================*/

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.gallery-padding {
    padding-top: 80px;
    padding-bottom: 50px;
}

.section-1-bg {
    background-color: #1d1d1d;
}

.section-2-bg {
    background-color: #212121;
}

.theme-bg {
    background-color: #f94b71;
}

.footer-section {
    background-color: #1d1d1d;
}

.copyright-bg {
    background-color: #212121;
}

.heading-div-1 {
    padding-bottom: 40px;
}

.image-bottom-space {
    padding-bottom: 25px;
}

.image-bottom-space1 {
    padding-bottom: 15px;
}

.image-top-space {
    padding-top: 25px;
}

.content-top-space {
    padding-top: 15px;
}

.content-top-space1 {
    padding-top: 10px;
}

.btn-top-space1 {
    margin-top: 10px;
}

.content-bottom-space {
    padding-bottom: 20px;
}

.bgimage-property {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.readmore {
    color: #f94b71;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
    text-transform: capitalize;
}

.readmore:hover {
    color: #f94b71;
}

.readmore1 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
    text-transform: capitalize;
}

.readmore1:hover {
    color: #ffffff;
}

.content-ul {
    padding-left: 0;
    margin-bottom: 0;
}

.content-ul li {
    list-style: none;
}

.underline {
    background-color: #ffffff;
    width: 60px;
    height: 2px;
    margin: 5px auto 0 auto;
}

.underline-1 {
    background-color: #ffffff;
    width: 60px;
    height: 2px;
    margin: 5px 0 0 0;
}

/*========================================== 2.COMMON CSS END ===========================================*/
/*========================================== 3.NAVIGATION START ===========================================*/

.fixed-header {
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav.clearfix.fixed-header>li>a.active {
    transition: all 1.3s;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
}

.navbar {
    border: none !important;
}

.navbar-brand,
.navbar-nav>li>a {
    text-shadow: none;
}

.topbar.navbar-default {
    background-image: none !important;
    border: none !important;
    box-shadow: none;
}

#top-nav.navbar-default {
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.navbar-nav>li>a {
    color: #aaa !important;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0 15px;
    transition: all 1.3s;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
}

.navbar-nav>li {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.pagescroll {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 20px 5px !important;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.navbar-nav {
    margin-top: 7px;
}

.navbar-nav>li>a.active,
.navbar-nav>.active>a,
.navbar-nav>.active>a:focus,
.navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.pagescroll:hover {
    color: #ffffff !important;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 6px 5px !important;
    margin: 14px 0;
}

.logo-image {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

/*========================================== 3.NAVIGATION END ===========================================*/
/*========================================== 4.BUTTON START ===========================================*/

.btn {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    padding: 10px 15px;
    text-transform: capitalize;
}

.btn.btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0 0 0 #333333;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn-top-space {
    margin-top: 25px;
}

.pricing-btn .btn-1 {
    background-color: #1b1b1b;
    color: #ffffff;
}

.pricing-btn .btn-1:hover {
    background-color: #1b1b1b;
    color: #ffffff;
}

.pricing-btn-1 .btn-1 {
    background-color: #111111;
    color: #ffffff;
}

.pricing-btn-1 .btn-1:hover {
    background-color: #111111;
    color: #ffffff;
}

/*========================================== 4.BUTTON END ===========================================*/
/*========================================== 5.HEADER START ===========================================*/

.header-bgimage-1 {
    background-image: url("../../images/1920x900x1.jpg");
    position: relative;
}

.header-padding {
    padding-bottom: 200px;
    padding-top: 200px;
}

.header-div-1 h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.header-div-1 h1 span {
    font-size: 30px;
}

.header-bgimage-1 .first-para {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
}

.header-bgimage-1 .second-para {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
}

.header-div-1 .btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.header-div-1 .btn-1:focus,
.header-div-1 .btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.header-btn {
    margin-top: 30px;
}

.header-div-3 {
    padding-top: 100px;
}

/*slider*/
.owl-demo .owl-controls,
.owl-demo .owl-dots {
    display: none !important;
}

#owl-demo1 .item,
#owl-demo .item {
    margin: 0;
}

.owl-carousel {
    position: relative;
    height: 100%;
}

.slider1-padding {
    padding-bottom: 225px;
    padding-top: 225px;
}

.slider-image1 {
    background-image: url("../../images/slider-image-1.jpg");
}

.slider-image2 {
    background-image: url("../../images/slider-image-2.jpg");
}

.slider-image3 {
    background-image: url("../../images/slider-image-3.jpg");
}

.slider-image1 .header-div-1 h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.slider-image1 h1 span {
    font-size: 30px;
}

.slider-image1 .first-para {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
}

.slider-image1 .second-para {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
}

.slider-image1 .header-div-1 .btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.slider-image1 .header-div-1 .btn-1:focus,
.slider-image1 .header-div-1 .btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slider-image1 .header-div-1 {
    margin: 0 auto;
    width: 80%;
}

.slider-image2 .header-div-1 h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.slider-image2 h1 span {
    font-size: 30px;
}

.slider-image2 .first-para {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
}

.slider-image2 .second-para {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
}

.slider-image2 .header-div-1 .btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.slider-image2 .header-div-1 .btn-1:focus,
.slider-image2 .header-div-1 .btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slider-image2 {
    text-align: left;
}

.slider-image3 .header-div-1 h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.slider-image3 h1 span {
    font-size: 30px;
}

.slider-image3 .first-para {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
}

.slider-image3 .second-para {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
}

.slider-image3 .header-div-1 .btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.slider-image3 .header-div-1 .btn-1:focus,
.slider-image3 .header-div-1 .btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/*header form*/
.header-div-3 h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.header-div-3 h1 span {
    font-size: 30px;
}

.header-bgimage-3 .first-para {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
}

.header-bgimage-3 .second-para {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 24px;
}

.form-div {
    position: relative;
    margin-bottom: 20px;
}

.form-div textarea {
    color: #ffffff;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding-left: 65px;
    padding-right: 20px;
    padding-top: 10px;
    width: 100%;
    position: relative;
}

.form-div input {
    color: #ffffff;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    height: 40px;
    padding-left: 65px;
    padding-right: 20px;
    width: 100%;
    position: relative;
}

.form-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
}

.form-div label {
    display: none !important;
}

.form-col .form-message.error,
.form-col .form-input.error {
    background-color: rgba(255, 0, 0, 0.5);
}

.header-bgimage-3 {
    background-image: url("../../images/1920x900x2.jpg");
    padding-bottom: 100px;
    padding-top: 100px;
}

.form-div i {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    padding-left: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 50px;
    line-height: 40px;
    height: 40px;
}

.header-div-3 .btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.header-div-3 .btn-1:focus,
.header-div-3 .btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.form-col {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 20px 30px 20px;
}

/*========================================== 5.HEADER END ===========================================*/
/*========================================== 6.SERVICES START ===========================================*/

.services-div {
    background-color: #212121;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 40px 20px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.services-div h5 a {
    color: #f2f2f2;
}

.services-div p {
    color: #f6f6f6;
}

.services-div:hover {
    border-bottom: 2px solid #ffffff;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.services-div:hover img {
    margin-top: -80px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.services-space {
    margin-top: 30px;
}

.services-row .col-md-3:nth-child(5) {
    clear: both;
}

/*========================================== 6.SERVICES END ===========================================*/
/*========================================== 7.THREE COLUMN START ===========================================*/

.three-col-div {
    background-color: #252525;
    border: 1px solid #333333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 auto;
    padding: 20px 25px 30px 25px;
    position: relative;
}

.three-col img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s, transform 5s ease 0s;
    transition: opacity 0.5s ease 0s, transform 5s ease 0s;
}

.three-img {
    display: block;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.three-col:hover img {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    overflow-x: hidden;
    overflow-y: hidden;
}

.three-col {
    position: relative;
}

/*========================================== 7.THREE COLUMN END ===========================================*/
/*========================================== 8.TWO COLUMN START ===========================================*/
/*features*/
.features-col h4 a {
    color: #ffffff;
}

.features-col li {
    background-color: #252525;
    border: 1px solid #333333;
    padding: 20px;
}

.list-ul li:nth-child(3),
.list-ul li:nth-child(2),
.list-ul li:nth-child(1) {
    margin-bottom: 20px;
}

.list-div-left,
.list-div-body {
    display: table-cell;
}

.list-div-left {
    padding-right: 20px;
    vertical-align: top;
    width: 60px;
}

.content-top-space-2 {
    margin-top: 10px;
}

/*two col left and right*/
.two-left-right-bg .two-left-div {
    padding-bottom: 80px;
    padding-top: 80px;
}

.two-left-div {
    padding-left: 40px;
    padding-right: 30px;
}

.two-right-div {
    padding-left: 107px;
    padding-right: 30px;
}

.two-right-main .two-right-div {
    padding-bottom: 80px;
    padding-top: 80px;
}

.two-right-div h3 a,
.two-left-div h3 a {
    color: #333333;
}

.two-left-bgimage {
    background-image: url("../../images/side1.jpg");
    height: 475px;
    width: 50%;
}

.two-right-bgimage {
    background-image: url("../../images/side2.jpg");
    height: 472px;
    width: 50%;
}

/*========================================== 8.TWO COLUMN END ===========================================*/
/*========================================== 9.COUNTER START ===========================================*/

.counter-bgimage {
    background-image: url("../../images/1920x400.jpg");
    padding-bottom: 120px;
    padding-top: 120px;
}

.counter-value {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0 auto 20px auto;
}

.counter-title {
    color: #e9e9e9;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter-div .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.counter-div img {
    padding-bottom: 15px;
}

.counter-div .counter-value {
    margin-bottom: 10px;
}

/*========================================== 9.COUNTER END ===========================================*/
/*========================================== 10.TESTIMONIAL START ===========================================*/

.testimonial-bg {
    background-image: url("../../images/1920x700x2.jpg");
}

.testimonial-div {
    margin-bottom: 20px;
}

.testimonial-para {
    color: #ffffff;
    font-style: italic;
    padding-top: 20px;
    text-align: left;
    width: 80%;
}

.testimonial-bg h2 {
    color: #ffffff;
}

.testimonial-name-div {
    display: table;
    padding-top: 30px;
}

.testimonial-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
}

.testimonial-name1 {
    color: #eeeeee;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    text-align: left;
}

.testimonial-name-div .list-div-body {
    padding-top: 15px;
}

.testimonial-name-div img {
    border-radius: 3px;
}

.owl-carousel.testimonial .owl-item img {
    width: auto;
}

/*========================================== 10.TESTIMONIAL END ===========================================*/
/*========================================== 11.NEWS START ===========================================*/

.news-ul {
    display: inline;
    display: inline-table;
}

.news-ul li {
    display: table-cell;
}

.news-ul li:nth-child(1) {
    padding-right: 10px;
    vertical-align: text-top;
}

.news-ul li:nth-child(2) {
    vertical-align: middle;
}

.news-ul p a:hover {
    color: #ffffff;
}

.news-col {
    background-color: #212121;
    border: 1px solid #333333;
    padding: 20px;
}

.news-col h4 {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}

.news-col h4 a {
    color: #ffffff;
}

.news-ul p {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.news-ul p a {
    color: #999999;
}

.news-ul-1 {
    float: right;
}

.news1-div {
    border-bottom: 1px solid #f94b71;
    padding-top: 6px;
    padding-bottom: 7px;
}

.news-row-2 {
    margin-top: 35px;
}

.news-img img {
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s, transform 5s ease 0s;
    transition: opacity 0.5s ease 0s, transform 5s ease 0s;
}

.news-img {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.news-row-2:hover>.col-sm-4 .news-img img,
.news-row-1:hover>.col-sm-4 .news-img img {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    overflow-x: hidden;
    overflow-y: hidden;
}

.news-row-2,
.news-row-1 {
    position: relative;
}

/*========================================== 11.NEWS END ===========================================*/
/*========================================== 12.PRICE TABLE START ===========================================*/

.price-line {
    position: relative;
}

.price-line:hover .price-line-common.light:before,
.price-line:hover .price-line-common.light:after {
    border-bottom-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-top-color: #fff;
}

.price-line .price-line-1:after {
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    border-top-width: 0;
    bottom: 0;
    right: 0;
}

.price-line .price-line-1:before {
    border-top-width: 1px;
    border-right-width: 0;
    border-left-width: 1px;
    border-bottom-width: 0;
    top: 0;
    left: 0;
}

.price-line .price-line-2:after {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 0;
    left: 0;
    bottom: 0;
}

.price-line .price-line-2:before {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 1px;
    border-top-width: 1px;
    right: 0;
    top: 0;
}

.price-line .price-line-common:before,
.price-line .price-line-common:after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-left-style: solid;
    border-right-color: transparent;
    border-right-style: solid;
    border-top-color: transparent;
    border-top-style: solid;
    content: "";
    height: 40px;
    position: absolute;
    width: 40px;
    -webkit-transition: all 0s 600ms ease 0s;
    -moz-transition: all 0s 600ms ease 0s;
    transition: all 600ms ease 0s;
}

.price-head {
    background-color: #1b1b1b;
    padding: 40px 20px;
}

.price-head-1 {
    background-color: #111111;
    padding: 40px 20px;
}

.price-inner {
    background-color: #252525;
}

.price-table-col {
    border: 1px solid #333333;
}

.price-table-content p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.price-table-content span {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.price-table-content li {
    padding: 15px 0;
}

.price-table-content li {
    border-bottom: 1px solid #333333;
}

.pricing-btn-1,
.pricing-btn {
    padding-top: 30px;
    padding-bottom: 30px;
}

.price-table1-content p {
    letter-spacing: 1px;
}

.price-head h4 {
    color: #ffffff;
    padding-bottom: 10px;
}

.price-head p {
    color: #ffffff;
    font-size: 30px;
}

.price-head-1 h4 {
    color: #ffffff;
    padding-bottom: 10px;
}

.price-head-1 p {
    color: #ffffff;
    font-size: 30px;
}

/*========================================== 12.PRICE TABLE END ===========================================*/
/*========================================== 13.CONTACT START ===========================================*/

.form-div-1 label {
    display: none !important;
}

.form-div-1 .error::-webkit-input-placeholder,
.form-div-1 .error::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */

    color: #ff0000 !important;
    ;
}

.form-div-1 .form-message.error::placeholder,
.form-div-1 .form-input.error::placeholder {
    /* WebKit, Blink, Edge */

    color: #ff0000 !important;
}

.form-div-1 .form-message.error:-moz-placeholder,
.form-div-1 .form-input.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */

    color: #ff0000;
    opacity: 1;
}

.form-div-1 .form-message.error::-moz-placeholder,
.form-div-1 .form-input.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */

    color: #ff0000;
    opacity: 1;
}

.form-div-1 .form-message.error:-ms-input-placeholder,
.form-div-1 .form-input.error:-ms-input-placeholder {
    /* Internet Explorer 10-11 */

    color: #ff0000;
}

.form-div-1 textarea {
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #252525;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding-top: 6px;
}

.form-div-1 input {
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #252525;
    border-radius: 3px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


input:focus,
textarea:focus {
    outline: -webkit-focus-ring-color solid 1px;
    outline-color: #aaaaaa;
    outline-style: solid;
    outline-width: 1px;
}






.form-div-1 {
    position: relative;
    margin-bottom: 30px;
}

.contact-bg {
    background-image: url("../../images/1920x700x5.html");
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact-div h3 {
    color: #ffffff;
}

.contact-div p {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
}

.contact-div p a {
    color: #f2f2f2;
}

.contact-address li {
    display: table-cell;
    vertical-align: middle;
}

.contact-address li:first-child {
    padding-right: 10px;
}

.contact-address-space {
    margin-bottom: 20px;
}

.contact-top-space {
    margin-top: 30px;
}

/*========================================== 13.CONTACT END ===========================================*/
/*========================================== 14.SUBSCRIBE START ===========================================*/

#mc_embed_signup {
    clear: left;
}

#mc-embedded-subscribe {
    margin: 0 0 0em 0 !important;
}

#ResultMsg {
    text-align: center;
}

.SuccessMsg {
    color: #33cc33;
}

.FailureMsg {
    color: #ff0000;
}

.messageDiv {
    display: grid;
    text-align: center;
    width: 100%;
}

.SuccessMsg,
.FailureMsg,
.sucessMessage,
.failMessage {
    font-size: 13px;
    font-weight: bold;
    display: none;
    margin-top: 10px;
}

.sucessMessage {
    color: Green;
}

.failMessage {
    color: #ff0000;
}

.message>.SuccessMsg {
    color: #Green;
}

.place_error::-webkit-input-placeholder {
    color: #ff0000;
    text-transform: none;
}

.place_error::-moz-placeholder {
    color: #ff0000;
    text-transform: none;
}

.place_error::-moz-placeholder {
    color: #ff0000;
    text-transform: none;
}

.place_error::-ms-input-placeholder {
    color: #ff0000;
    text-transform: none;
}

.place_error:-ms-input-placeholder {
    color: #ff0000 !important;
    text-transform: none;

}

.form1-btn .btn {
    width: 100%;
}

.header-strip-bg {
    background-image: url("../../images/1920x220x1.jpg");
    padding-bottom: 60px;
    padding-top: 60px;
}

.strip-row {
    margin: 0 auto;
    width: 85%;
}

.strip-row h3 {
    color: #ffffff;
    margin-bottom: 8px;
}

.strip-btn {
    margin-top: 26px;
}

.strip-row p {
    color: #f2f2f2;
}

/*========================================== 14.SUBSCRIBE END ===========================================*/
/*========================================== 15.TEAM START ===========================================*/

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    cursor: pointer;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 91%;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fade-top {
    top: 20%;
}

.team-col h4 {
    margin-top: 20px;
}

.team-icon li {
    display: inline-block;
    margin-bottom: 10px;
}

.team-icon li:last-child {
    margin-bottom: 0;
}

.team-col {
    background-color: #252525;
    border: 1px solid #333333;
    padding: 20px;
}

/*CTA*/

.cta-bg {
    background-image: url("../../images/1920x700x1.jpg");
    padding-bottom: 150px;
    padding-top: 150px;
}

.cta-bg h2 {
    color: #ffffff;
}

.cta-bg p {
    color: #e9e9e9;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 30px auto;
    width: 80%;
}

.cta-bg .btn-1 {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0 0 0 #333333;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.cta-bg .btn-1:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 50px #333333;
    background-color: transparent;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/*========================================== 15.TEAM END ===========================================*/
/*========================================== 16.GALLERY START ===========================================*/

.gallery-space {
    padding-bottom: 30px;
}

.gallery-section .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
}

/* GALLERY HOVER */

.gallery-inner {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.gallery-inner .gallery-caption {
    position: absolute;
    top: 0;
    padding: 15px;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.gallery-inner:hover .gallery-caption {
    opacity: 1;
}

.gallery-inner .gallery-caption:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.8);
    outline-offset: 1px;
    position: absolute;
    width: 40%;
    height: 32%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
}

.gallery-col a {
    color: #ffffff;
}

.gallery-inner:hover .gallery-caption:before {
    opacity: 1;
    height: 90%;
    width: 90%;
    outline-offset: -10px;
    outline-style: solid;
    outline-width: 0.1px;
    outline-color: #bbbbbb;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    -moz-outline-radius: 3px !important;
}

.gallery-caption i {
    color: #ffffff;
    position: relative;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 20px;
    font-weight: 400;
}

.gallery-inner img {
    border-radius: 3px;
}

/* Filter controls */

.filter-options li {
    color: #bbbbbb;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
    padding: 5px 0;
}

.filter-options li:after {
    content: "/";
    padding-left: 10px;
    padding-right: 10px;
}

.filter-options li:last-child:after {
    content: "";
    padding-left: 0;
    padding-right: 0;
}

.filter-options li.active {
    color: #ffffff;
}

.filter-options li:hover {
    color: #ffffff;
}

.filter-options {
    margin-bottom: 30px;
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;
}

.gallery-row-2 {
    padding-bottom: 30px;
}

/*========================================== 16.GALLERY END ===========================================*/
/*========================================== 17.FOOTER START ===========================================*/

.footer-logo {
    margin-bottom: 15px;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col-1 h4 {
    margin-bottom: 10px;
    text-align: left;
}

.subscribe-form .form-group {
    margin-bottom: 0;
}

.subscribe-form input {
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: #e9e9e9;
    height: 52px;
    border-radius: 7px;
    margin-bottom: 25px;
    padding-left: 20px;
    width: 100%;
}

.footer1-icon li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.footer1-icon {
    margin: 20px 0 0 0;
}

.subscribe-form {
    background-color: #212121;
    border: 1px solid #333333;
    padding: 30px;
    text-align: center;
}

.subscribe-btn {
    display: block;
    text-align: left !important;
}

/*footer form*/

.copyright p {
    letter-spacing: 1px;
}

.copyright {
    padding-bottom: 30px;
    padding-top: 30px;
}

.form-div label {
    color: #ff0000;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: 1px;
}

.contact-frame {
    border: 0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 370px;
    width: 100%;
}

.scrolloff {
    pointer-events: none;
}

/*========================================== 17.FOOTER END ===========================================*/
/*========================================== 18.MEDIA QUERIES START ===========================================*/

@media only screen and (min-width: 250px) and (max-width: 767px) {
    .navbar-nav>li>a {
        font-size: 13px;
    }

    .navbar-default .navbar-toggle {
        margin-bottom: 15px;
        margin-top: 22px;
        margin-right: 0;
    }

    .navbar-toggle {
        float: right !important;
    }

    .navbar-nav>li {
        padding-left: 1.3em;
        cursor: pointer;
    }

    .navbar-default .navbar-nav>li>a {
        display: inline-block;
    }

    .navbar-collapse {
        border: 0 !important;
        box-shadow: none !important;
    }

    .nav {
        display: inherit !important;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff !important;
    }

    .navbar-default .navbar-toggle {
        border: none !important;
    }

    .navbar-nav>li {
        padding: 15px 0;
    }

    .header-bgimage-1 .header-content,
    .testimonial-para {
        width: 100%;
    }

    .res-space {
        margin-bottom: 30px;
    }

    .three-col img {
        margin: 0 auto;
    }

    .clients-res-space {
        margin-bottom: 30px;
    }

    .client-row {
        margin: 0 auto;
        width: 80%;
    }

    .strip-btn {
        margin-top: 20px;
    }

    .gallery-inner .gallery-caption:before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .two-right-div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact-img,
    .counter-space1 {
        margin-bottom: 30px;
    }

    .news-img {
        margin-bottom: 25px;
    }

    .footer-col-1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header-div-3 {
        margin-bottom: 30px;
    }

    .pagescroll {
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease;
        padding: 10px 5px !important;
        text-decoration: none;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    .navbar-nav>li>a.active,
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>li>a:hover,
    .pagescroll:hover {
        color: #ffffff !important;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        padding: 5px 5px !important;
        margin: 4px 0;
    }

    .navbar-nav>li {
        padding: 0;
    }

    .news-row-2 {
        margin-top: 30px;
    }

    .news-img {
        margin-bottom: 20px;
    }

    .header-div-3 h1,
    .slider-image3 .header-div-1 h1,
    .slider-image2 .header-div-1 h1,
    .slider-image1 .header-div-1 h1,
    .header-div-1 h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .header-div-3 h1 span,
    .slider-image3 .header-div-1 h1 span,
    .slider-image2 .header-div-1 h1 span,
    .slider-image1 .header-div-1 h1 span,
    .header-div-1 h1 span {
        font-size: 20px;
    }

    h2 {
        font-size: 28px;
        line-height: 32px;
    }

    h3 {
        font-size: 25px;
        line-height: 30px;
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .price-head p,
    .price-head-1 p {
        color: #ffffff;
        font-size: 22px;
    }

    .cta-bg p {
        width: 100%;
    }

}

@media only screen and (min-width: 250px) and (max-width: 991px) {
    .navbar-right.nav {
        padding-bottom: 0 !important;
    }

    .section-space {
        margin-bottom: 30px;
    }

    .nav {
        float: none;
        margin: 0 auto;
        display: table;
        padding-bottom: 20px;
    }

    .two-right-bgimage,
    .two-left-bgimage {
        width: 100%;
    }

    .two-right-main {
        display: flex;
        flex-direction: column;
    }

    .two-right-div {
        order: 2;
    }

    .two-right-bgimage {
        order: 1;
    }

    .two-left-right-bg .two-left-div {
        padding-bottom: 80px;
        padding-top: 20px;
    }

    .two-left-div {
        padding-left: 0;
        padding-right: 0;
    }

    .two-right-main .two-right-div {
        padding-bottom: 80px;
        padding-top: 20px;
    }

    .strip-row {
        width: 100%;
    }

    .features-image.res-space {
        margin-bottom: 20px;
    }

    h4 {
        line-height: 26px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 479px) {
    .onecolumn-res {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .onecolumn-res img {
        margin: 0 auto;
    }

    .onecolumn-res-space {
        padding-bottom: 30px;
    }

    .client-row {
        width: 100%;
    }

    .footer1-icon li {
        margin-right: 5px;
    }

    .services-space-2,
    .clients-res-space1 {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
    .content:hover .content-details {
        top: 85%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .services-space-1 {
        margin-top: 30px;
    }

    .services-row .col-md-3:nth-child(3),
    .services-row .col-md-3:nth-child(7) {
        clear: both;
    }

    .price-table-col,
    .team-col {
        margin: 0 auto;
        width: 360px;
    }

    .team-col-1 {
        padding-bottom: 30px;
    }

    .price-line:hover .price-line-common.light:before,
    .price-line:hover .price-line-common.light:after {
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
    }

}

@media only screen and (min-width: 700px) and (max-width:767px) {
    .testimonial-div {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-column-res {
        margin: 0 auto;
        width: 100%;
    }

    .single-column-res-pull {
        margin: 0 auto;
        width: 100%;
        right: 0;
    }

    .single-column-res-push,
    .col-sm-push-6.col-sm-6.business2-col {
        margin: 0 auto;
        width: 100%;
        left: 0;
    }

    .nav>li>a {
        display: block;
        position: relative;
    }

    .navbar-nav {
        padding-bottom: 0;
    }

    .features-image {
        margin-bottom: 30px;
    }

    .gallery-inner .gallery-caption:before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .strip-row {
        width: 100%;
    }

    .strip-row h3 {
        margin-bottom: 20px;
    }

    .news-ul li:nth-child(1) {
        padding-right: 6px;
        vertical-align: text-top;
    }

    .strip-row .col-sm-12 {
        padding: 0;
    }

    .two-right-div {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 750px;

    }

    .services-space-3 {
        margin-bottom: 30px;
    }

    .services-row .col-md-3:nth-child(3),
    .services-row .col-md-3:nth-child(7) {
        clear: both;
    }

    .footer1-icon li {
        margin-right: 1px;
    }

    .content:hover .content-details {
        top: 83%;
    }

    .header-div-3 {
        padding-top: 50px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .strip-row {
        width: 100%;
    }

    .gallery-inner .gallery-caption:before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .two-left-right-bg .two-left-div {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .two-right-main .two-right-div {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .two-left-bgimage {
        height: 504px;
    }

    .two-right-bgimage {
        height: 520px;
    }

    .content:hover .content-details {
        top: 88%;
    }
}

/*========================================== 18.MEDIA QUERIES END ===========================================*/
